<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    
    <title>Aboutus</title>
</head>

<body onload="myfunction()">
    <!-- <div id="loading"></div> -->
    <div class="container">
        <header>
            <div id="logo">
                <a href="project.html"><img src="/images/logo.png"></a>
            </div>
            <!-- <a href="login.html"><button class="login">Log out</button></a> -->
            <a href="/"><button class="register ">Home</button></a>

        </header>
    </div>
    <div class="container1">
        <div class="cards">
            <div class="card_item">
                <div class="card-content">
                    <div class="pic">
                        <img src="/images/pic2.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3>Our Mission.</h3>Improving people’s lives with our health care products Bausch Health’s mission is supported by five pillars – guiding principles that are foundational to our success and future growth. </div>
                  </div>
            </div>
            <div class="card_item">
                <div class="card-content">
                    <div class="pic">
                        <img src="/images/pic3.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3>Our Vision</h3>
                        To be your trusted health care partner.</div>
                </div>

            </div>
            <div class="card_item">
                <div class="card-content">
                    <div class="pic">
                        <img src="/images/pic4.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3>Our Values</h3>Our core values define what we stand for, how we conduct ourselves and how we interact with colleagues, customers, vendors, shareholders and others.
                    </div>
                </div>

            </div>
            <ul class=links>
                <li class="link"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li class="link"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="link"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="link"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</body>
  <script>
      var preloader = document.getElementById('loading')
      setTimeout(function myfunction(){
          preloader.style.display = 'none'
      },300)
  </script>
</html>